body {
  margin: 0;
  background-color: #f1f2f6;
  font-family: 'helvetica neue';
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: 400;
}

.home {
  text-align: center;
  padding-top: 100px;
}

.start-button {
  background-color: #6400e4;
  border-radius: 30px;
  width: 30%;
  margin: auto;
  color: #fff;
  display: block;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: 0.3s linear all;
}

.nav-container {
  background: #fff;
  min-height: 3rem;
}

.logo-container {
  width: 100px;
  height: 50px;
  padding-left: 10px;
}

.car-form {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px 16px;
}

.title-text {
  margin-top: 3rem;
  text-align: center;
}

input.search {
  margin-top: 2rem;
  margin-bottom: 50px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #D7D6DA;
  border-radius: 4px;
  font-size: inherit;
  font-weight: inherit;
  display: block;
  transition: 0.25s border-color;
  width: 100%;
  min-height: 50px;
}

ul {
  margin:0;
  padding:0px;

  list-style:none;
}
.list-container{
    margin-top:10px;
    background-color:rgba(255,255,255,0.9);
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
    border-radius:3px;
   -webkit-box-shadow: 0px 0px 2px #888888;
   -moz-box-shadow: 0px 0px 2px #888888;
    box-shadow: 0px 0px 2px #888888;
    cursor: pointer;
}

.list-btn {
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background-color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.list-btn:hover {
  background: #6400e4;
  color: #fff;
}

a {
    color: black;
    text-decoration: none;
}

.simple-container {
  font-family: Courier, monospace;
  text-align: center;
  padding-top: 8em;
  padding-bottom: 2em;
  min-height: 450px;
}

.error-text {
  margin: 0;
  padding: 2em 0;
}

.a-btn {
  background: #6400e4;
  color: #fff;
  text-decoration: none;
  padding: 0.7em 2em;
  border-radius: 30px;
  margin: 0.5em 0;
}

.a-btn:hover {
  background: #5352ed;
}

.spinner-icon {
  width: 30px;
  margin: 200px auto;
  display: block;
}


@media(min-width:768px) {
  .vehicle-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  }
}

.vehicle-container div {
  border: 1px #ccc solid;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.vehicle-card {
  flex: 0 0 25%;
  margin-bottom: 5px;
  background: #fff;
  font-size: 0.8em;
  cursor: pointer;
}

.vehicle-card p {
  margin: 0.2rem;
}

.vehicle-card:hover {
  background: #5352ed;
  color: #fff;
}

.vehicle-title {
  padding-left: 15px;
}

.back-btn {
  padding-left: 15px;
  color: #6400e4;
  font-size: 16px;
  font-weight: 500;
}
